<!-- app/views/analyze/_controls.html.erb -->
<div data-property-analyzer-target="buyToLeaseControls" style="display: none;">
  <%= render 'analyze/controls/buy_to_lease' %>
</div>

<div data-property-analyzer-target="subleaseControls" style="display: block;">
  <%= render 'analyze/controls/sublease' %>
</div>